@import "./normalize.css";

/*找到根元素， 定义变量*/
:root{
	--color-text: #666;
	--color-hight-text: #ff5777;
	--color-tint: #ff8198;
	--color-background: #fff;
	--font-size: 14px;
	--line-height: 1.5;
}

*, *::before, *::after{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: "Helvetica Neue" ,Helvetica,"PingFang sc", "Hiragino Sans GB","Microsoft YaHei", "微软雅黑",Arial,sans-serif;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
	background: var(--color-background);  /*引用变量*/
	color: var(--color-text);
	width: 100%;
}